*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    --brand-color: #ffcb00;
    --font-color: #001022;
    --font-main: 'Raleway', sans-serif;
    --font-add: 'Merriweather', serif;
    font-family: var(--font-main);
}

[v-cloak] {
    display: none !important;
}

img {
    max-width: 100%;
    display: block;
}

i {
    font-family: fontawesome !important;
    font-style: normal;
    margin-right: 1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
}


/*
Start project style
*/

html {
    font-weight: 500;
    font-size: 16px;
    color: var(--font-color);
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

.social-link {
    color: blue;
}

.logo-image {
    width: 14.8125rem;
    height: 3.1875rem;
    max-width: 100%;
    max-height: 100%;
    transition: 0.4s;
}

.logo-image-cart {
    width: 10.5rem;
    height: 2.25rem;
}

.header {
    overflow: visible;
    font-size: .8125rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: block;
    text-align: center;
    background: #fff;
    transition: 0.4s;
    
}

.header-top-border {
    width: 100%;
    height: .5rem;
    background: var(--brand-color);
}

.header-wrapper {
    width: 95%;
    margin: 0 auto;
}

.header-area-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    position: relative;
    align-self: stretch;
}

.header-area-left,
.header-area-right {
    display: flex;
    width: 30rem;
    padding: .7em 0.5em;
    margin-top: 0.3rem;
    height: 4em;
    /* background-color: aquamarine; */
}

.header-area-right {
    flex-flow: row nowrap;
    justify-content: flex-end;
    text-align: right;
}

.search-area {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 1em;
    border-bottom: 0.1rem solid var(--font-color);
}

.searchfield {
    font-family: var(--font-main);
    border: none;
    outline: none;
    width: 13em;
    height: 100%;
    font-size: 1.2em;
}

.search-area:focus-within {
    border-bottom: 0.15rem solid var(--font-color);
}

.search-icon {
    display: flex;
    padding-bottom: 0.2rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}

.fa-search,
.fa-times,
.fa-shopping-bag {
    margin: auto;
    font-size: 1.5em;
    color: gray;
}

.cross {
    display: none;
}


.header-shops {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.header-shops-text {
    font-size: 0.8rem;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5em;
    
}

.header-shops-text:hover {
    text-decoration: underline;
}

.header-shops-break {
    margin-right: 1em;
    color: #000;
}

.map-marker {
    width: 1.8rem;
    height: 1.6rem;
}

.header-area-middle {
    padding: 1.2rem .75rem;
    
}

.logo-link {
    width: 100%;
    height: 100%;
}

.header-cart {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
}

.cart {
    margin: 0 1em;
    /* background-color: navajowhite; */
}

.in-cart {
    position: absolute;
    display: inline-block;
    top: 20%;
    right: 0;
    background-color: var(--brand-color);
    border: 0.05rem solid var(--font-color);
    border-radius: 50%;
    width: 1.15rem;
    height: 1.15rem;
    text-align: center;
    padding-top: 0.5rem;
    line-height: 0;
    font-weight: 600;
}

.cart-icon {
    background: url(img/shopping-bag.svg);
    width: 1.2rem;
    height: 1.2rem;
}

.fa-shopping-bag {
    margin: 0;
}

.cart-table {
    border: 0.1em solid lightgrey;
    border-collapse: collapse;
    width: auto;
    margin: 0 auto;
}

.cart-table thead {
    background-color: var(--font-color);
    color: #fff;
    text-transform: uppercase;
    font-size: .7rem;
}

.cart-table thead {
    text-align: left;
}

.cart-table tbody tr {
    border: 0.1rem solid lightgrey;
}

.cart-table select {
    border: none;
    border-bottom: 0.1rem solid var(--font-color);
    padding: 0.5rem 0.2rem;
    width: 4rem;
}

.cart-table select:focus {
    outline: 0.1rem dotted #000;
}

.cart-img {
    width: 6rem;
}

.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6 {
    padding: 1rem 2rem;
}

.col-2 {
    text-align: left;
}

.col-3, .col-4, .col-5 {
    width: 12%;
}

.col-6 img {
    width: 1rem;
    cursor: pointer;
}

.cart-poster img {
    margin: auto;
}

.empty-cart-text {
    max-width: 20rem;
    /* background-color: lightblue; */
    margin: 1.5rem auto;
    font-style: italic;
}

.empty-cart-text img {
    display: inline;
    margin-right: 1rem;
    width: 1rem;
}

.empty-cart-desc {
    max-width: 80%;
    font-size: 0.8rem;
    font-style: italic;
    margin: 2.5rem auto;
    /* background-color: coral; */
}

.cart-button {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: var(--font-main);
    font-weight: 600;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

/*                         DropDown Menu           //////////////////////////////                  */

.m-nav {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: .5rem 0;
    overflow: visible;
}

.m-dropdown {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.m-dropdown_item {
    margin: 0;
    padding: 0.2rem 1rem;
    overflow: hidden;
}

.m-dropdown_item li {
    margin: 0.5rem auto;
    padding-left: 1rem;
}

.m-dropdown_item ul {
    text-align: left;
    margin: 0 auto;
    width: 60%;
}

.dropdown-gifts-content,
.dropdown-sale-content {
    display: none;
    width: 100vw;
    position: absolute;
    background: #fff;
    left: 0;
    height: 10rem;
}

.dropdown-aroma-content,
.dropdown-body-content {
    display: none;
    width: 100vw;
    position: absolute;
    background: #fff;
    left: 0;
    height: 20rem;
}

.dropdown-makeup-content,
.dropdown-face-content,
.dropdown-men-content,
.dropdown-baby-content {
    display: none;
    width: 100vw;
    position: absolute;
    background: #fff;
    left: 0;
    height: 30rem;    
}

.gifts-pages,
.sale-pages,
.makeup-pages,
.face-pages,
.body-pages,
.aroma-pages,
.men-pages,
.baby-pages {
    max-width: 50rem;
    display: flex;
    margin: 0 auto;
    padding-top: 2rem;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.gifts-page,
.sale-page {
    text-align: center;
}



.makeup-page,
.face-page,
.body-page,
.aroma-page,
.men-page,
.baby-page {
    width: 20rem;
    text-align: center;
    margin-right: 1rem;
}

.dropdown-img {
    max-width: 20rem;
    max-height: 20rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.dropdown-img-text {
    width: 16rem;
    margin: .7rem auto;
}

.dropdown-content-title {
    display: block;
    width: 20rem;
    margin: 1rem;
}

.gifts-page .dropdown-content-title,
.sale-page .dropdown-content-title {
    width: 100%;
}

.dropdown-content-title::before,
.dropdown-content-title::after {
    content: "";
    display: flex;
    border-bottom: .1rem solid #ccc;
    width: 80%;
    margin: .5rem auto;
}

.dropdown-content-list a:hover {
    text-decoration: underline;
}



/*     The END of the HEADER      */

.m-banner {
    background: var(--brand-color);
    padding: 9rem 0 .5rem;
    display: flex;
    justify-content: center;
}

.m-banner-text {
    font-size: .85rem;
    font-weight: 600;
    margin: 0 auto;
}

/*    main picture slider  main picture slider  main picture slider     MODULE-0 */

.main {
    height: 100%;
    position: relative;
}

.main-slider {
    height: 550px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
}

.main-slider input[type=radio] {
    display: none;
}

.slide-button {
    z-index: 1;
    cursor: pointer;
    width: .7rem;
    height: .7rem;
    margin: 0 .4rem;
    border: 1px solid #ccc;
    background: #ccc;
    border-radius: 50%;
}

.main-slider input[type=radio]:checked + label {
    background: #495460;
}

.slider-bar:checked:nth-of-type(1) ~ .main-pic-slides {
    left: 0%;
}    
.slider-bar:checked:nth-of-type(2) ~ .main-pic-slides {
    left: -100%;
}    
.slider-bar:checked:nth-of-type(3) ~ .main-pic-slides {
    left: -200%;
}    

.main-pic-slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
}    

.pic-slide {
    height: 100%;
    max-width: 1440px;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;;
    overflow: hidden;
    margin: 0 auto;
}

.poster-inblock {
    position: absolute;
    background: #fff;
    width: 20rem;
    height: 23rem;
    right: 7%;
    bottom: 4%;
}

.poster-inblock:after,
.about-text:after {
    top: .6rem;
    right: .6rem;
    bottom: .6rem;
    left: .6rem;
    content: "";
    position: absolute;
    border: .2rem solid var(--brand-color);
}

.poster-inblock:before,
.about-text:before {
    top: .7rem;
    right: .7rem;
    bottom: .7rem;
    left: .7rem;
    content: "";
    position: absolute;
    border: .2rem solid #ccc;
}

.poster-content {
    padding: 18% 14%;
    text-align: center;
}

.poster-content-big {
    font-size: 170%;
    font-weight: 300;
    margin-bottom: 2rem;
}

.poster-content-small {
    font-size: .85rem;
    margin-bottom: 1rem;
}

.know-more-btn,
.buy-btn {
    background: var(--brand-color);
    margin: 1rem auto;
    font-size: .8rem;
    font-weight: 600;
    display: inline-block;
    padding: 3% 5%;
    text-transform: uppercase;
    cursor: pointer;
}

.product-hover:hover .know-more-btn {
    background: hsl(56, 91%, 59%);
}






/*                                      Module-1                           */
.module-1,
.search-module,
.page-module {
    text-align: center;
    max-width: 1440px;
    margin: 5rem auto;
    
}

.search-module {
    padding-top: 0em;
    display: none;
}

.module-1_title,
.module-title {
    font-size: 1.65rem;
    font-weight: 400;
    margin: 0 auto 2.5rem;
}

.module-1_title::after,
.module-title::after {
    content: "";
    display: flex;
    width: 3rem;
    margin: 0 auto;
    padding-top: .5rem;
    border-bottom: .125rem solid var(--font-color);
}

.module-title-2 {
    font-size: 2.7rem;
    font-weight: 200;
    margin: 0 auto 1rem;
    display: block;
}

.module-title-2-text {
    font-size: 0.85rem;
    max-width: 67%;
    margin: 0 auto;
}

/*  .module-1_slider,  */
.module-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    margin-top: 4rem;
    padding: 4rem 0;
    border-top: .1rem solid #ccc;
}

.slider-btn {
    background: #fff;
    border: none;
    width: 4%;
    
}

.slider-btn-left::before {
    content: "<";
}

.slider-btn-right::after {
    content: ">";
}

.block-img {
    margin: 0 auto 2rem;
}

.block-name {
    margin: 0 auto;
    width: 12rem;
    height: 3rem;
    font-size: .85rem;
    font-weight: 500;
}

/*           Module-2            */

.module-2 {
    max-width: 1440px;
    margin: 0 auto;
}

.osmantus-poster {
    position: relative;
    
}

/*                   Last Module                     */

.last-module {
    width: 100%;
    margin-top: 8rem;
    font-family: var(--font-add);
}

.last-module-news {
    max-width: 1200px;
    height: 8.5rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background: var(--brand-color);
}

.last-module-news-title {
    font-size: 1.7rem;
    text-align: center;
    line-height: 2rem;
    max-width: 50%;
}

.last-module-news-text {
    font-size: 1.2rem;
    padding: .3rem 1.5rem;
    background: #fff;
    border: 0.1rem solid #ccc;
}





/*                 Social network                    */

.contacts {
    margin: 5rem 0 5rem;
}

.contacts-group {
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    line-height: 1.5rem;
    padding: 2rem 0;
}

.contacts::before {
    content: "";
    display: flex;
    margin: 3rem auto;
    border-bottom: 0.13rem solid #001022;
    width: 100%;
}


.contacts::after {
    content: "";
    display: flex;
    margin: 3rem auto;
    border-bottom: 0.1rem solid #ccc;
    width: 80%;
}

.social-list {
    margin: 2rem 0;
}

.social-list li {
    margin-bottom: 0.7rem;
}








/*                Footer                  */



.footer-content {
    display: block;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 5rem auto;
    padding: 0 0 3rem;
}

.logo-footer {
    width: 6%;
    height: 6%;
    margin: 0 auto 1.5rem;
}

.footer-text {
    margin: 1rem auto;
}




/*                              item-page Content                             */

.item-page-block-0 {
    max-width: 70%;
    max-height: 50rem;
    margin: 3rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.item-page-block-0 > * {
    max-height: 40rem;
}

.item-page-text {
    max-width: 30rem;
    padding-top: 2rem;
}

.item-page-prod {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    
}

.item-page .item-title {
    width: 80%;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.prod-img {
    width: auto;
    
}

.buy-btn {
    width: 10rem;
    text-align: center;
}

.buy-btn:hover {
    background: hsl(56, 91%, 59%);
}

.item-page .item-desc {
    width: 80%;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.item-know-more {
    font-weight: 600;
    font-size: 0.9rem;
}

#desc-anchor {
    position: absolute;
    top: 50%;
}

.item-page-block-1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
}

.about-img {
    height: 30rem;
}

.about-img img {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.about {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.about input[type=radio] {
    display: none;
}

.about-button {
    width: 50%;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    border-top: 0.1rem solid #ccc;
    cursor: pointer;
}

.about input[type=radio]:checked + .about-button,
.about-button:hover {
    background: #efefef;
}

.about-img {
    position: relative;
}

.about-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    min-height: 55%;
    padding-bottom: 1rem;
    text-align: center;
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.about-text-1 {
    display: flex;

}

.about-text-2 {
    display: none;

}

.about-text-title {
    margin: 3rem 0 1rem;
    font-size: 2rem;
}

.about-text-text {
    font-size: 0.85rem;
    max-width: 90%;
    padding: 1rem;
}


/*                          Menu page block                         */

.menu-page-main {
    position: relative;
}

.menu-page-poster {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.page-poster-inblock,
.page-poster-inblock-back {
    position: absolute;
    top: 2.5rem;
    left: 5rem;
    background: #fff;
    width: 20rem;
    min-height: 14rem;
    
}

.page-poster-inblock {
    background: none;
}

.page-poster-inblock-back:before {
    top: .7rem;
    right: .7rem;
    bottom: .7rem;
    left: .7rem;
    content: "";
    position: absolute;
    border: .2rem solid #ccc;
}

.page-poster-inblock-back:after {
    top: .6rem;
    right: .6rem;
    bottom: .6rem;
    left: .6rem;
    content: "";
    position: absolute;
    border: .2rem solid var(--brand-color);
}





.page-poster-content {
    text-align: left;
    padding: 2.5rem;
    font-size: .9rem;
}

.page-poster-content-big {
    margin-bottom: 1rem;
}

.page-poster-content-small li {
    line-height: 1.5rem;
}

.page-poster-content-small a:hover {
    text-decoration: underline;
}

.poster-ribbon {
    position: absolute;
    top: 0;
    right: 7rem;
    width: 22rem;
    height: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 1.1rem;
}

.ribbon-big {
    width: auto;
    font-size: 2rem;
    margin: 7rem auto 1rem;
    text-align: center;
}

.ribbon-small {
    font-size: .85rem;
}


/*                  the block AFTER the page poster                        */

.module-content-block {
    width: 18rem;
    margin: 0 1rem 5rem;
}

.module-content-block-makeup {
    max-width: 25rem;
    margin: 0 1rem;
}

.block-title {
    font-size: 1.8rem;
    margin: 3rem auto 1rem;
}

.block-text {
    font-size: 0.9rem;
    margin: 0 1rem;
}








